NODE_ENV=development

API_GATEWAY_PORT=8080
POLICY_GATE_PORT=4001
RISK_BUDGET_PORT=4002
AUDIT_LEDGER_PORT=4003
PERSONA_REGISTRY_PORT=3001
MEMORY_SERVICE_PORT=3002
TOOL_FILES_PORT=3003
TOOL_WEBFETCH_PORT=3004

SIGNATURE_POLICY_MODE=dev
SIGNING_PUBLIC_KEY_PATH=
API_KEY=
